apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: hdr-empire
  namespace: hdr-production
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: hdr-empire
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scrapeTimeout: 5s
